// 主色
$color-primary: #409EFF;

// 辅助色
$color-info: #909399;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;
$color-table-stripe: #ebf1f8;
$color-blueness: #20d9f7;
$color-green: #5cecc6;
$color-purple: #ca62f3;
$color-project-select: #e89f5c;

// 文字
$color-text-main: #303133;
$color-text-normal: #606266;
$color-text-sub: #909399;
$color-top-text-title: #2f74ff;
$color-text-title: #346fff;
$color-text-placehoder: #C0C4CC;
$color-text-carousel: #0084f5;
$color-text: #ffffff;

$color-button-typeface1: #62b3ff;
$color-button-typeface2: #3ba5ff;
$color-button-typeface3: #42484e;
$color-button-typeface4: #333333;

// 边框
$color-border-1: #DCDFE6;
$color-border-2: #E4E7ED;
$color-border-3: #EBEEF5;
$color-border-4: #F2F6FC;
$color-border-5: #777c82;

// 背景
$color-bg: #f8f8f9;
$color-bg2: #f6f6f6;
$color-bg3: #ffffff;
$color-bg4: #fafbff;
$color-bg5: rgba(0, 0, 0, 0.75);
$color-head-bg: #7db5d61f;
$color-table__body-bg: #93ceff;
$color-carousel-bg: #d9e8fd;
$color-card-button-bg: #f3f1f1;
// 个人中心半透明背景
$color-opacity-bg :#f3fbff;

// 自营项目 - 经济核算 - 收入登记 - 新建收入信息中收入信息背景
$color-project-revenue-information-bg: #eff1fd;

// 线条
$color-vertical-line: #84b7fa;
$color-straight-line: #cbcbcc69;
$color-straight-line2: #d0d0d0;
$color-straight-line3: #dddddd;

// focus
$color-tree-focus: #d6e8ff;

// hover
$color-table-hover: #d8e9ff;
$color-Relate-table-hover: #d8e9ff93;
$color-tree-hover: #f5f5f5;
// button
$color-button-reset:#edf3fc;
$color-button-dialog-affirm: #2e7ae7;
$color-button-lock: #b455ef;

// 边框阴影
$color-border-shadow: rgba(0, 0, 0, 0.1);

// 启用禁用
$startusing: #84b7fa;
$forbidden: #fc6e5f;

// disable 
$input-disable: #606266;
$input-disable-Bg: rgba(228, 232, 239, 0.49);

// 详情close
$closeTextColor: #505050;
$closeBg: rgba(14,144,254,.17);
$closeHover: #2d8cf0;
$closeHoverBg: #eeeeee;

// 详情展示
$exhibitionBg: #F5F7FA